.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px dashed #4f5276;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;
    user-select: none;
  }
  
  .container div {
    height: 50px;
    width: 50px;
    margin: 3px;
    background: rgba(66, 68, 90, 0.075);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .container.green div.selected {
    background: linear-gradient(45deg, #78b2ff, #218ad9);
  }
  
  .container.blue div.selected {
    background: linear-gradient(45deg, #9e91ef, #5c51b4);
  }
  
  .selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 1px solid rgba(98, 155, 255, 0.85);
    border-radius: 0.15em;
  }