.welcome {
  display: flex;
  float: left;
  margin-top: 4px;
  margin-left: 8px;
}

.expander-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  list-style: none;
}

.expander-button::-webkit-details-marker {
  display: none;
}

.icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

details[open] .icon {
  transform: rotate(180deg);
}

.expanded-content {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.errors.none {
  color: lightgray;
}
.errors.some {
  color: red;
}


.downloadLink:not([href]) { 
  display: none;
}
.downloadLink[href] { 
  display: inline;
}

.wait-cursor, .wait-cursor * {
  cursor: wait !important;
}

.capture, .multiCapture, .download, .share {
  height: 2.25em;
  width: 2.5em;
  vertical-align: top;
  color: #444;
}

.download, .share {
  float: right;
}

.hidden {
  visibility: hidden;
}
:not(.hidden) {
  visibility: visible;
}

.bg-image {
  background-image: url('/assets/duxbury-bridge-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.deleteIcon:hover {
  color: red; /* You can customize this as needed */
}

.getSelector, .deleteIcon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 0.5em;
}

.deleteIcon {
  display: flex; /* Use Flexbox */
  align-items: center; /* Align vertically */
  justify-content: center; /* Center horizontally */
  margin-left: -1.65em; /* Adjust as needed for spacing */
  background: white;
}

.inputContainer {
  display: flex; /* Using a containing div for Flexbox layout */
  align-items: anchor-center;
  margin-bottom: 0.5em;
}

.settingNameSection {
  width: 8em;
  text-align: right;
}

label {
  text-align: right;
}

.settingInput {
  margin-left: 0.5em;
}

.settingNumeric {
  max-width: 4em;
  text-align: right;
}